<ul>
  <!--
  When we use locals, we need to make sure that
  the variables we refer to in our partial have
  the same names as the keys in our locals hash.
  -->
  <li> <%= post_author.name %></li>
  <li> <%= post_author.hometown %></li>
</ul>
