<!-- https://learn.co/tracks/full-stack-web-development-v8/module-13-rails/section-8-layouts-and-partials/partial-with-locals -->
<!--
Let's remove the code from our app/views/authors/show.html.erb page.
Now our file should be empty: app/views/authors/show.html.erb
<ul>
  <li> <%#= author.name %></li>
  <li> <%#= author.hometown %></li>
</ul>
-->


<!--
To keep our code in the show page rendering out the same content,
we call the partial from the app/views/authors/show.html.erb file.
Doing this, the app/views/authors/show.html.erb file now looks like the following:
-->
<%= render 'author' %>
